name: Deploy or Destroy Node.js App on ECS using Terraform

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  ECR_REPO: my-node-app
  IMAGE_TAG: latest

jobs:
  terraform:
    name: Provision ECS & ECR Infra
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Terraform Init & Apply
      run: |
        cd terraform
        terraform init
       # terraform apply -auto-approve
        terraform destroy -auto-approve
